
@media (max-width: 767px) {
   .column {
       width: 100%;
   }
}
@media (min-width: 768px) and (max-width: 1024px) {
   .column {
       width: 50%;
   }
}
@media (min-width: 1025px) {
   .column {
       width: 25%;
   }
}
.card {
   padding: 30px 40px;
   margin-top: 60px;
   margin-bottom: 60px;
   border: none !important;
   box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)}